html(lang="en")
	head
		link(rel="stylesheet", href="style.css")
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shortcut icon", href=require('../img/icon.png') type='image/x-icon')
		title MEMORY STORM 2
	body
		#root
		script(src="bundle.js" type='text/javascript')