.game-field-wrap
	#game-field
		position: relative
		pointer-events: none
		box-sizing: border-box
		width: 80vh
		height: 80vh
		display: grid
		border: 1px solid $gray-color

		&.play
			pointer-events: all

			& li
				transition: background .5s
				cursor: pointer

				&:hover
					background: $green-color
		
	@import './count.sass'
	@import './card.sass'

	@import './media.sass'
