=txt($ff: abz1, $fs: 1.4rem, $clr: black)
	font-family: $ff
	font-size: $fs
	color: $clr

=flex($jc: center,$ai: center,$dir: row)
	display: flex
	justify-content: $jc
	align-items: $ai
	flex-direction: $dir