=txt($fs: 1.5rem, $clr: black, $ff: dv)
	font-size: $fs
	color: $clr
	font-family: $ff

=flex($jc: center,$ai: center,$dir: row)
	display: flex
	justify-content: $jc
	align-items: $ai
	flex-direction: $dir