@import './_reset'
@import './_fonts'
@import './_mixin'
@import './_variables'

#root
	overflow-x: hidden
	+flex()
	flex-wrap: wrap
	min-height: 100vh
	+txt(1.5rem, black, dv)

	&:before
		content: ''
		z-index: -1
		+absolute($top: 0, $left: 0)
		display: block
		width: 100%
		height: 100%
		opacity: .04
		background: url('../media/splash.png') center

@import './splash/index'

@media only screen and (max-width : 600px)
	#root
		flex-direction: column
		justify-content: flex-start

		& > *
			margin: 0

@media (orientation: portrait)
	#root
		flex-direction: column
		justify-content: flex-start

		#splash .splash-wrap
			grid-template-columns: repeat(10, 8vw)
			grid-template-rows: repeat(10, 8vw)
