html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title MEMORY STORM 2
	body
		#root
		#splash
			.title MEMORY STORM
				.exclamation work hard , play hard
					div !
			.splash-wrap
				- for(var i = 0; i < 100; i++)
					.splash
