@import '../../style/_mixin'
	
.index
	padding: 1%
	+flex(center,center,column)

	& > *
		margin: 1% 0

.play label // ? better make disabled InputText via props
	pointer-events: none

@media only screen and (max-width: 1000px)
	font-size: 1.3rem

	label input
		font-size: 1.5rem
