#settings
	padding: 1%
	+flex(center,center,column)
	&>*
		margin: 1% 0
	label
		display: grid
		grid-gap: 3px
		text-align: center
		white-space: nowrap
		position: relative
		@import './input.sass'
		@import './error.sass'
	@import './media.sass'