#settings
	padding: 1%
	+flex(center,center,column)

	& > *
		margin: 1% 0

	label
		position: relative
		width: 100%
		display: grid
		grid-gap: 3px
		text-align: center
		white-space: nowrap

		&.with-error input
			background-color: $red-color !important

		.error
			width: 100%
			min-height: 20px
			text-align: center
			+txt(1rem, $red-color, dv2)

		input
			width: 100%
			min-height: 30px
			border: 1px solid $gray-color
			padding: 1%
			+txt(2rem, black, dv2)
			text-align: center
			transition: background-color .5s

			&::-webkit-inner-spin-button
				-webkit-appearance: none

			&:hover
				background-color: $green-color

	&.play
		pointer-events: none

		.button
			pointer-events: auto

	@import './media.sass'
