input
	min-height: 30px
	border: 1px solid $clr
	padding: 1%
	+txt(2rem, black, dv2)
	text-align: center
	transition: background-color .5s
	&::-webkit-inner-spin-button
			-webkit-appearance: none
	&:hover
		background-color: $bg